@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');
html, body{
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

body {
  /*background-color: #52468E;*/
  background-color :#00375C;
  color: #707070;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
}

.title {
  font-weight: 700;
  font-size: 50px;
}

.form-rounded {
  border-radius: 2em;
}

.back-card {
  border-radius: 40px !important;
}

.city-name {
  position: absolute;
  width: 100%;
}


.city-name p {
  font-size: 16pt;
  font-weight: 400;
  margin-bottom: 0%;
}

.city-name h2 {
  margin-top: 3%;
}


.condition {
  line-height: 1em;
  font-weight: 700;
  font-size: 1em;
  text-transform: capitalize;
}

.high::before {
  content: '';
  width: 10px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 3px;
}

.low::before {
  content: '';
  width: 10px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 3px;
}

.icon-container {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background: #202020;
}

.icon-container img {
  margin: auto;
}


.card-bottom span {
  font-size: 12px;
}
.card-bottom p {
  font-size: 50px;
  font-weight: 100;
  letter-spacing: -2px;
}

.c-header{
  z-index: 2;
  width: 100%;
  height: 60px;
  background-color: #484652;
  opacity: 0.9;
  position: fixed;

}

.c-btn-icon{
  z-index: 5;
  position:absolute;
  top:20px;
  left:15px;
  height:22px;
  width: 22px;
  cursor:pointer;
}

.c-btn-bar{
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
}

.c-btn-bar--horizontal{
  position: relative;
  float: left;
  margin-top: 3px;
  transition: all .3s;
}

.c-btn-bar--diagonal{
  position: relative;
  float: left;
  transition: all .3s;
}

.c-btn-bar--diagonal.diagonal-1{
  transition: all .3s;
}

.c-btn-bar--diagonal.diagonal-2{
  margin-top: 3px;
  transition: all .3s;
}

input[type="checkbox"]{
  display: none;
}

input[type="checkbox"]:checked ~ .c-btn-icon > .c-btn-bar--horizontal{
  opacity: 0;
  transition: all .3s;
}

input[type="checkbox"]:checked ~ .c-btn-icon > .c-btn-bar--diagonal.diagonal-1{
  transform: rotate(135deg);
  margin-top: 8px;
  transition: all .3s;
}


input[type="checkbox"]:checked ~ .c-btn-icon > .c-btn-bar--diagonal.diagonal-2{
  transform: rotate(-135deg);
  margin-top: -8px;
  transition: all .3s;
}

.c-sidebar{
  opacity: 0.8;
  position: fixed;
  z-index: 1;
  width: 200px;
  height: 100%;
  margin-top: 60px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background-color: #484652;
}

input[type="checkbox"]:checked ~ .c-sidebar{
  position: fixed;
  transform: translateX(0);
}

.c-sidebar-items{
  border-top:1px solid rgba(255, 255, 255, .10);
  margin: 0;
  padding: 0;
}

.c-sidebar-items li{
  cursor: pointer;
  list-style: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  padding: 20px;
  border-bottom:1px solid rgba(255, 255, 255, .10);
}

.c-sidebar-items li span{
  display: block;
  font-size: 10px;
  color: rgba(255, 255, 255, .5);
}

li a{
  color: white;
}

.atTop{
  margin-top: 20%;
  color: white;
  opacity: 0.8;
}

.card{
  z-index: 0;
}

.imBlue_da_ba_dee_da_ba_daa{
  border: solid 1px;
  border-color: #00375C;
}

#search{
  display: flex;
  flex-direction: column;
}

#bar_of_number_day{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#bar_of_number_day h3{
  color: white;
  opacity: 0.8;
  height: 100%;
  margin-bottom: 0%;
}

#numberOfDay{
  border-radius: 40px;
}

#numberDay{
  width: 50px;
}

#plusDeDetail{
  display: none;
  flex-direction: row;
}

.dots{
  cursor:pointer;
}

.margAtTop{
  margin-top: 7%;
}